@font-face {
    font-family: 'pixels';
    src: url(../fonts/pokemon_classic.ttf);
}

@font-face {
    font-family: 'pixels2';
    src: url(../fonts/dogica.ttf);
}

@font-face {
    font-family: 'pixelsbold';
    src: url(../fonts/dogicapixelbold.ttf);
}



* {
    text-decoration: none;
    scroll-behavior: smooth;
}


body {
    background-color: #cccaff;
    background-image: linear-gradient(to bottom, rgba(209, 205, 255, 0.7), rgba(202, 198, 255, 0.7)), url("../images/pokeball_simpleb.png");
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: 50px;
    color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
    cursor: url("../images/cursor_30px.png"), pointer;
    font-family: "pixels", Arial, Helvetica, sans-serif;
}

.wrapper {
    width: 960px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    background-color: #754f8b;
    box-shadow: 0 0 10px 15px #513263;
}

nav,
footer,
aside {
    background-color: #5b346e;
}



h1 {
    font-size: 21pt;
    margin: 0 20px 30px 20px;
    padding-top: 15px;
}

h2 {
    font-size: 15pt;
    margin-top: 0;
    text-align: center;
}

h3 {
    font-size: 14pt;
    margin: 0 0 20px 0;
    padding-top: 0;
    }

h4 {
    font-size: 12pt;
}

h5 {
    font-size: 9pt;
    margin-top: 0;
}



a {
    cursor: url('../images/main_30px.png'), pointer;
    color: inherit;
    text-decoration: none;
}


/* * -------------- Header ----------- */
header {

        nav {
            width: 100%;
            font-size: 8pt;
            display: flex;
            justify-content: space-between;
            align-items: center;

            ul {
                width: 100%;
                padding: 0;
                display: flex;
                list-style-type: none;

                li {
                    border: #5b346e 4px solid;

                    &:hover {
                        border: white 4px solid;
                        transition: 0.5s;
                    }

                    &:active {
                        border: #c2c2c2 4px solid;
                    }

                    &:nth-last-child(2) {
                        margin-left: auto;
                    }

                    a {
                        padding: 10px;
                        display: inline-block;
                    }
                }
            }
        }
}

/* ------------------- maincontent -----------------*/
.maincontent {
    padding: 15px;
    display: flex;
    font-size: 7pt;
}

/* ----------------------aside -----------------------*/

aside {
    text-align: center;
    padding: 15px;
    width: 135px;
    height: fit-content;
    position: sticky;
    top: 146px;

    ul {
        padding: 0;
        list-style-type: none;
    }

    a:hover {
        text-decoration: underline;
    }

    >a {
        text-decoration: underline;
    }

    figure {
        margin: 0;

        img {
            margin: 5px 0;
            width: 100%;
        }
    }
}

/* ----------------------main-------------------------*/

main {
    width: 100%;
    padding: 5px 0px 15px;
    margin-left: 10px;

    p {
        text-align: justify;
    }

    iframe {
        margin: 15px;
        width: 100%;
        aspect-ratio: 16/9;
        border: 0;
    }

    > section{
        background-color: #5b346e;
        padding: 25px;
        padding-top: 10px;
        margin-top: 10px;
    }
}

// a propos

.cgu span {
    font-size: 11pt;
}

/* --------------------------------- footer ----------------------------*/

footer>p::first-letter {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

footer {
    font-size: 6pt;
    margin-top: auto;
        display: flex;
        flex-direction: column;

        a:hover {
            text-decoration: underline;
        }

        ul {
            display: flex;
            justify-content: center;
            list-style-type: none;

            >li {
                ul {
                    flex-direction: column;
                    list-style-type: none;
                    padding: 20px 0;
                }
            }
        }

        >ul>li {
            margin: 10px;
        }

        p {
            text-align: center;
            font-size: 8pt;

            span {
                font-family: Arial, Helvetica, sans-serif;
            }
        }
    
}